<mat-toolbar color="primary">
    <span>
        DEPRESSION CLASSIFICATION APPLICATION
    </span>

    <span class="space-buttons"></span>

    <button *ngIf="! isLoggedIn()" mat-raised-button color="warn" routerLink="/register"
        style="margin-right: 10px;">Register<mat-icon>add_circle</mat-icon></button>
    <button *ngIf="! isLoggedIn()" mat-raised-button color="primary"
        routerLink="/login">Login<mat-icon>login</mat-icon></button>
    <button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()" style="margin-top: 2px;">
    <a class="a" color="primary" routerLink="/" style="margin-right: 10px;">Home</a>
    <span *ngIf="isUser()" style="margin-right: 10px;"> | </span>
    <a class="a" *ngIf="isUser()" color="primary" href="http://127.0.0.1:5000/" style="margin-right: 10px;">Predict Depression</a>
    <!-- <span *ngIf="isAdmin()" style="margin-right: 10px;"> | </span>
    <a class="a" *ngIf="isAdmin()" color="primary" routerLink="/nodepression">View All Orders</a> -->
    <span *ngIf="isUser()" style="margin-right: 10px;"> | </span>
    <span *ngIf="isUser()" style="margin-right: 10px;">Do you have depression?</span>

    <a class="a" *ngIf="isUser()" color="primary" routerLink="/depression" style="margin-right: 10px;">Yes</a>
    <a class="a" *ngIf="isUser()" color="primary" routerLink="/nodepression" style="margin-right: 10px;">No</a>
</mat-toolbar>