<div class="container mt-5" style="background-color: #ADD8E6;">

    <h1>About Depression</h1>

    <img width="500" height="300" style="margin-bottom: 10px;" src="https://images.unsplash.com/photo-1476782916354-326ab24c93df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80" alt="Depression image">

    <p>Depression is a mental health disorder that causes feelings of sadness, hopelessness, and worthlessness. It can also cause physical symptoms such as fatigue, changes in appetite, and sleep disturbances. Depression affects millions of people around the world and can be a debilitating condition if left untreated.

        There are several different types of depression, including major depressive disorder, persistent depressive disorder, and seasonal affective disorder. Each type has its own set of symptoms and treatment options.
        
        Risk factors for depression include a family history of the condition, major life changes such as a divorce or the death of a loved one, and certain medical conditions such as chronic pain or thyroid disorders. Substance abuse can also contribute to the development of depression.
        
        Treatment for depression typically involves a combination of therapy and medication. Cognitive-behavioral therapy (CBT) is a common type of therapy that helps individuals identify and change negative patterns of thinking and behavior. Medications such as selective serotonin reuptake inhibitors (SSRIs) and tricyclic antidepressants (TCAs) can also be effective in treating depression.
        
        If you or someone you know is struggling with depression, it's important to seek professional help. Depression is a treatable condition, and with the right treatment, individuals can experience significant improvements in their symptoms and overall quality of life.</p>
  </div>